* {
    padding: 0;
    margin: 0;
    font-size: 1em;   
    font-family: helvetica, lucida grande, arial, sans serif;  
    font-weight: 100;
    border-color: #DDD;                               /* DEFAULT BORDER */
}
body { 
    margin: -1px;
    font-size: 95%;
    color: #222;
}
#header {
    margin: 0;
    padding: 0.75em 1em 0.25em 2em; 
    background-color:  #F9DD67; /* #F9CB67; */          /* HEADER BG */
    border-bottom-style: solid; 
    border-width: 1pt; 
    color: #666;                                        /* HEADER FONT */
}
#foot {
    padding: 2em 0 1em 0em;
    background-color: #F9DD67;  ; /* #F9CB67; */        /* FOOTER BG */
    border-color: #CCC;
    border-width: 1pt;
    border-top-style: solid;
    border-bottom-style: solid;
    height: 100%;
}
#main {
    margin: 0em 0em -0.375em 0em;  
    padding: 1em 0 2em 2.25em;
    background-color: #FFF;
}
img.download {
    height: 0.7em;
    padding: 0em 0 0.2em 0;
    margin: 0 0.25em 0 0.2em;
}
img.external {
    height: 0.6em;
    padding: 0em 0 0.4em 0;
    margin: 0 0.25em 0 0.2em;
}
img.external-pdf {
    height: 1.25em;
    margin: 0 0.5em 0 0.125em;
}
span.note {
    font-size: 90%;
    margin: 0 0 0 0.25em;
    color: #555;
}
a {
    text-decoration: none;
    color: #6D8AE3; /* darker: #1E3E9D; */           /* LINK */
}
a:hover {
    border-bottom-style: solid;
    border-width: 1pt;
    border-color: #6D8AE3;                         /* LINK HOVER UNDERLINE */
}
p {
    margin: 1em 1em 0.75em 0em;
    line-height: 1.35em;
    width: 75%;
}
#main ul {
    width: 70%;
}
#logo {
    margin: 0 -0.5em 0 0;
    float: right;
}
h1 {
    margin: 0.125em 0 0.1em 0;
    font-size: 400%; 
    font-weight: normal;
    letter-spacing: -2px;
}
h2 {  
    color: #7F6704; /* #7F5804; */                    /* H2 FONT */
    font-size: 175%;  
    margin: 0.75em 0 -0.2em -0.07em;
    width: 60%;
}
ul {
    margin: 0.75em 1.5em 1em 2em;
}
li {
    margin: 0em 0 0.5em 0;
    line-height: 1.25em;
}
tt {  
    font-family:  menlo, "lucida console", "courier new", courier,  monospace;
    font-size: 85%;   
}
* td {
    font-weight: normal;
    padding: 0em 0.25em 0.5em 0.25em;
    text-align: left;
}
pre { 
    font-family: menlo, lucida console, courier new, courier,  monospace;
    font-size: .8em;
    font-weight: 100;
    padding: 0.5em 1.5ex;
    margin: 0.85em 2ex .85em 1.5ex;
    color: #666;
    background-color: #FAFAFA;
    border-top: 1px solid #EEE;
    border-bottom: 1px solid #EEE;
    overflow: auto;
    clip: auto;
    width: 90%;
    line-height: 130%;
}
#nav-container {
    float: right;
}
#nav-container ul {
    margin:  2em -0.5em 1em 0;
    padding: 0 0 1em 0;
    list-style-type: none;
    background-color: white;
}
#nav-container li {
    margin: 2px 12px 0 0;
}
#nav-container ul .nav-sep {
    padding: 0 0 10px 0;
}
#nav-container a {    
    display: block;
    text-align: left;
    font-size: 85%;
    padding: 5px 2em 5px 2em;
    margin: 3px 0.5em 0 1.25em;
    background-color:  #F9DD67; /*#F9DFA8;*/        /* NAV BUTTON BG */
    color: #444;                                    /* NAV BUTTON FONT */
    border: 1px solid #CCC;                         /* NAV BUTTON BORDER */
}
#nav-container a:hover {
    background-color: #F9E9A8;  /*#F9CB67;*/   /* NAV BUTTON HOVER BG */
    color: #111;                           /* NAV BUTTON HOVER FONT */
    border-color: #BBB;                    /* NAV BUTTON HOVER BORDER */
}
