/* Pistachio palette: http://encycolorpedia.com/93c572 */

* {
    padding: 0;
    margin: 0;
    font-size: 1em;   
    font-family: helvetica, lucida grande, arial, sans serif;  
    font-weight: 100
}
body { 
    font-size: 95%;
    font-color: black;  
    background-color: #abd191; <!-- pistachio: #82bb5b;  25% lighter: #bddba9; -->
}
#header {
    margin: 0;
    padding: 1em 1em 0.125em 2em; 
}
img.download {
    height: 0.7em;
    padding: 0em 0 0.2em 0;
    margin: 0 0.25em 0 0.2em;
}
img.external {
    height: 0.6em;
    padding: 0em 0 0.4em 0;
    margin: 0 0.25em 0 0.1em;
}
img.external-pdf {
    height: 1.25em;
    margin: 0 0.5em 0 0.125em;
}
span.note {
    font-size: 90%;
    color: #555;
}
div#foot {
    padding: 2em 0 2em 0em;
    margin: -0.5em 0 0 0;
}
a:link {
    text-decoration: none;
}
a.external {
    color: blue;
}
a.external:hover {
    border-bottom-style: solid;
    border-width: 1pt;
}
a.internal {
    color: blue;
}
a.internal:hover {
    border-bottom-style: solid;
    border-width: 1pt;
}
#footer {
    padding: 0;
    margin: -1em 0 0 0em;
}
#main {
    margin: 0em 0em -0.375em 0em;  
    padding: 1em 0 2em 2.25em;
    background-color: #F9F9F9;
    border-top-style: solid; 
    border-bottom-style: solid; 
    border-width: 1pt; 
    border-color:black;
}
p {
    margin: 1em 1em 0.75em 0em;
    line-height: 1.35em;
    width: 75%;
}
#main ul {
    width: 60%;
}

#logo {
    float: right;
}
h1 {
    color: #555;
    margin: 0.125em 0 0.25em 0;
    font-size: 400%; 
    font-weight: normal;
    letter-spacing: -2px;
}
h2 {  
    color: #62834b; /* #516d3f; */
    font-size: 175%;  
    margin: 0.75em 0 0 -0.07em;
    
}
ul {
    margin: 0.75em 1.5em 1em 2em;
}
li {
    margin: 0em 0 0.5em 0;
    line-height: 1.35em;
}
tt {  
    font-family: "lucida console", menlo, monaco, "courier new", courier,  monospace;
    font-size: 85%;   
}
* td {
    font-weight: normal;
    padding: 0em 0.25em 0.5em 0.25em;
    text-align: left;
}
pre { 
    font-family: menlo, "lucida console", menlo, monaco, "courier new", courier,  monospace;
    font-size: .75em;
    font-weight: 100;
    padding: 0.5em 1.5ex;
    margin: 0.85em 2ex .85em 1.5ex;
    color: black;
    background-color: #F0F0F0;
    border-top: 1px solid #DDD;
    border-bottom: 1px solid #DDD;
    overflow: auto;
    clip: auto;
    line-height: 130%;
}
#nav-container {
    float: right;
    margin: 1px 0em 1.5em 1.5em;
    padding: 0;
    background-color: #bddba9;
}
#nav-container ul {
    margin: 0;
    padding: 10px 7px 12px 9px;
    background-color: #fafafa;
    list-style-type: none;
}
#nav-container li {
    margin: 0;
}
#nav-container ul .nav-sep {
    padding: 3px 0 0 0;
    background-color:  #fafafa;
}
#nav-container a {    
    display: block;
    font-size: 85%;
    padding: 5px 2em 5px 2em;
    margin: 2px 4px;
    background-color: #cfe5c0;
    border: 1px solid black;
}
#nav-container a:hover {
    background-color: #e7f2df;
}
#nav-container a:visited {
    color: black;
}
#nav-container a:link {
    color: black;
}


