/*
 * COLOR SCHEME
 *
 * http://colorschemedesigner.com/#0-51MtdtdEBII
 *
 *                DARK                    LIGHT
 * Primary:     +E9A614  9D7F3C  7F5804 +F9CB67  F9DFA8
 * Seconary A:  *E9C014  9D8A3C  7F6704 *F9DD67  F9E9A8
 * Secondary B:  E98614  9D703C  7F4604  F9B567  F9D3A8
 * Compl:        1E3E9D  303F6A  061A56  6D8AE3  A1B2E3
 */

* {
    padding: 0;
    margin: 0;
    font-size: 1em;   
    font-family: helvetica, lucida grande, arial, sans serif;  
    font-weight: 100;
    color: #000;                                      /* DEFAULT FONT */
    border-color: #DDD;                               /* DEFAULT BORDER */
    border-width: 1pt;
}
body { 
    font-size: 95%;
    background-color: #F9DD67;                       /* HEADER/FOOTER BG */
}
#header {
    margin: 0;
    padding: 0.75em 1em 0.25em 2em; 
    background-color:  #F9DD67;                      /* HEADER BG */
    border-bottom-style: solid; 
}
#foot {
    padding: 1em 0 1em 0em;
    background-color:  #F9DD67;                      /* FOOTER BG */
    border-top-style: solid;
}
#main {
    margin: 0em 0em -0.375em 0em;  
    padding: 1em 0 2em 2.25em;
    background-color: #FFF;                          /* MAIN BG */
}
img.download {
    height: 0.7em;
    padding: 0em 0 0.2em 0;
    margin: 0 0.25em 0 0.2em;
}
img.external {
    height: 0.6em;
    padding: 0em 0 0.4em 0;
    margin: 0 0.25em 0 0.2em;
}
img.external-pdf {
    height: 1.25em;
    margin: 0 0.5em 0 0.125em;
}
span.note {
    font-size: 90%;
    margin: 0 0 0 0.25em;
    color: #888;
}
a {
    text-decoration: none;
    color: #1E3E9D;                                  /* LINK */
}
a:hover {
    border-bottom-style: solid;
    border-color: #1E3E9D;                           /* LINK HOVER UNDERLINE */
}
p {
    margin: 1em 1em 0.75em 0em;
    line-height: 1.35em;
    width: 75%;
}
#main ul {
    width: 70%;
}
#logo {
    float: right;
}
h1 {
    margin: 0.125em 0 0.1em 0;
    font-size: 400%; 
    font-weight: normal;
    letter-spacing: -2px;
    color: #555;                                     /* HEADER FONT */
}
h2 {  
    color: #7F5804;                                  /* H2 FONT */
    font-size: 175%;  
    margin: 0.75em 0 -0.2em -0.07em;
    width: 60%;
}
ul {
    margin: 0.75em 1.5em 1em 2em;
}
li {
    margin: 0em 0 0.5em 0;
    line-height: 1.25em;
}
tt {  
    font-family:  menlo, "lucida console", "courier new", courier,  monospace;
    font-size: 85%;   
}
* td {
    font-weight: normal;
    padding: 0em 0.25em 0.5em 0.25em;
    text-align: left;
}
pre { 
    margin: 1em 0 1.25em 0;
    font-family: lucida console, menlo, courier new, courier,  monospace;
    font-size: .8em;
    font-weight: 100;
    padding: 1em 1.5ex;
    border-top: 1px solid #EEE;
    border-bottom: 1px solid #EEE;
    overflow: auto;
    clip: auto;
    line-height: 1.4em;
    width: 75%;
    color: #444;
    background-color: #FAFAFA;
}
#nav-container {
    float: right;
}
#nav-container ul {
    margin:  1.15em 0em 0.75em 0;
    width: 100%;
    list-style-type: none;
}
#nav-container li {
    margin: 2px 12px 0 0;
}
#nav-container ul .nav-sep {
    padding: 0 0 10px 0;
}
#nav-container a {    
    display: block;
    text-align: left;
    font-size: 85%;
    padding: 5px 2em 5px 2em;
    margin: 3px 0.5em 0 1.25em;
    background-color:  #F9DD67;                       /* NAV BUTTON BG */
    border: 1px solid #CCC;                           /* NAV BUTTON BORDER */
    color: #333;                                      /* NAV BUTTON FONT */
}
#nav-container a:hover {
    background-color: #E9C014;                        /* NAV BUTTON HOVER BG */
    color: #111;                                      /* NAV BUTTON HOVER FONT */
    border-color: #BBB;                               /* NAV BUTTON HOVER BORDER */
}
